

.rides-wrapper {
    display: flex;
    height: calc(100vh - 6vh);
}


.map-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.map-container .leaflet-container {
    min-height: 65%;
    width: 100%;
    height: 100%;
}

.chart-wrapper {
    width: 100%;
    height: 100%;
    /* max-width: 1000px; */
    margin: auto;
}

/*Author: Caroline (s194570), Andreas (s194614) (collapse functions)*/
.collapse-checkbox {
    display: flex !important;
    align-items: center !important;
}


.collapse-checkbox.btn-checked {
    background-color: var(--background-2);
}

.collapse-checkbox.horizontal-checkbox {
    /* align-self: center; */
    display: flex !important;
    justify-content: center !important;
    background-color: var(--background-1);
}
.collapse-checkbox.horizontal-checkbox.btn-checked {
    background-color: var(--background-1);
}