.changer-wrapper {
    z-index: calc(var(--navbar-z-index) - 3);
    width: 10cm;
    height: 2cm;
    background: var(--background);
    border-radius: 10px;
    display: grid;
    grid-auto-flow: column;
    position: absolute;
    grid-template-columns: 40% 20% 20% 20%;
    align-items: center;
    top: 7cm;
    left: 2.5cm;
    margin: 20px;
}

.slider-wrapper {
    margin: auto;
}

.value-number {
    font-size: 25px;
    margin: auto;
    color: white;
}

.button-iri,
.button-iri-toggled {
    color: white;
    background-color: grey;
    width: 1.5cm;
    height: 1.5cm;
    border: None;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    margin: auto;
}

.button-iri-toggled {
    background-color: var(--highlight-text);
}

.button-friction,
.button-friction-toggled {
    color: white;
    background-color: grey;
    width: 1.5cm;
    height: 1.5cm;
    border: None;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    margin: auto;
}

.button-friction-toggled {
    background-color: var(--highlight-text);
}