/* Colin Hoffmann (s212711) */

.changer-wrapper {
    background: var(--background);
    width: 10cm;
    height: 1cm;
    z-index: calc(var(--navbar-z-index) - 3);
    border-radius: 10px;
    margin: 10px;
    position: absolute;
    left: 50px;
    display: flex;
}

.slider-wrapper {
    margin: auto;
}

.slider {
    display: flex;
}

.value-number {
    font-size: 20px;
    margin: auto;
    color: white;
    width: 1cm;
}